<template>
    <div class="app__player">
        <div id="player__play-pause"
             :class="{play: isPlaying}"
             v-on:click="togglePlay">
        </div>
        <div id="player__timeline"
             v-on:click.self="_onTimelineClick"
             v-on:contextmenu.self="showContextMenu">
            <div id="player__progress"
                 v-on:click.self="_onTimelineClick"
                 v-on:contextmenu.self="showContextMenu"
                 :style="{ width: currentProgressBar + '%' }"></div>
            <div id="player__markers">
                <div class="player__marker"
                     v-for="marker in markers"
                     v-on:click="goToMarker(marker)"
                     :style="{
                            left: (marker.position / trackDuration * progressWidth) - 1.5 + 'px',
                            top: '-12px'
                        }"
                     :key="marker.id">
                    <div class="marker__label">{{marker.name}}</div>
                </div>
            </div>
        </div>
        <div id="player__time">{{ currentTime | fancyTimeFormat }}</div>
        <div id="player__context-menu"
             :style="contextMenuStyles">
            <div>
                <div class="context-menu__item"
                     v-on:click="addMarker">Add marker</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Player',
        data: function () {
            return {
                checkingCurrentPositionInTrack: null,
                trackDuration: 0,
                currentTime: 0,
                progressWidth: 0,
                currentProgressBar: 0,
                audio: null,
                isPlaying: false,
                contextMenuPosition: {x: 0, y: 0},
                timelineRect: {},
                isContextShown: false,
                markers: [],
            };
        },
        mounted: function () {
            this.audio = new Audio('/creepy-background-daniel_simon.mp3');
            let localThis = this;
            this.timelineRect = document.getElementById("player__timeline").getBoundingClientRect();
            this.audio.addEventListener("loadedmetadata", function() {
                localThis.trackDuration = Math.round(this.duration);
                localThis.progressWidth = localThis.timelineRect.width;
            });
            this.audio.addEventListener("ended", this._onSongEnded);
            window.addEventListener("click", this._onWindowClick);
            window.addEventListener('keydown', this._onKeyDown);
        },
        filters: {
            fancyTimeFormat: function (s) {
                return (s - (s %= 60)) / 60 + (9 < s ? ":" : ":0") + s;
            }
        },
        methods: {
            _onWindowClick: function (event) {
                this.isContextShown = false;
            },
            _onKeyDown: function (event) {
                // eslint-disable-next-line no-console
                // console.log(event);
                if (event.code === 'Space') {
                    this.togglePlay();
                } else if (event.code === 'KeyM') {
                    this.addMarker();
                }
            },
            _onSongEnded: function() {
                this.audio.pause();
                this.isPlaying = false;
            },
            _onTimelineClick: function (event) {
                const position = (event.pageX - this.timelineRect.left) / this.progressWidth * this.trackDuration;
                this.setSoundPosition(position);
            },
            togglePlay: function () {
                this.isPlaying = !this.isPlaying;
                if (this.isPlaying) {
                    this.audio.play();
                    this.getCurrentTime();
                } else {
                    this.audio.pause();
                    clearTimeout(this.checkingCurrentPositionInTrack);
                }
            },
            setSoundPosition: function (position) {
                this.audio.currentTime = position;
                this.currentTime = position;
                this.currentProgressBar = this.audio.currentTime / this.trackDuration * 100;
            },
            showContextMenu: function (event) {
                event.preventDefault();
                this.contextMenuPosition.x = event.pageX;
                this.contextMenuPosition.y = event.pageY;
                this.isContextShown = true;
                return false;
            },
            addMarker: function () {
                //let pos = Math.round(this.audio.currentTime * 100) / 100;
                this.markers.push({
                    id: this.markers.length + 1,
                    name: `New marker`,
                    position: this.audio.currentTime
                })
            },
            goToMarker: function (marker) {
                this.setSoundPosition(marker.position);
            },
            getCurrentTime: function() {
                let localThis = this;
                this.checkingCurrentPositionInTrack = setTimeout(
                    function() {
                        localThis.currentTime = localThis.audio.currentTime;
                        localThis.currentProgressBar =
                            localThis.audio.currentTime / localThis.trackDuration * 100;
                        localThis.getCurrentTime();
                    }.bind(this),
                    250
                );
            },
        },
        watch: {
            currentTime: function() {
                this.currentTime = Math.round(this.currentTime);
            }
        },
        computed: {
            contextMenuStyles: function () {
                return {
                    left: this.contextMenuPosition.x + 'px',
                    top: this.contextMenuPosition.y + 'px',
                    display: this.isContextShown ? 'block' : 'none'
                }
            }
        },
        beforeDestroy: function() {
            this.audio.removeEventListener("ended", this._onSongEnded);
            this.audio.removeEventListener("loadedmetadata", this._onSongEnded);

            clearTimeout(this.checkingCurrentPositionInTrack);
        }
    }
</script>

<style scoped>
    .app__player {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #player__play-pause {
        cursor: pointer;
        color: darkgreen;
        width: 36px;
        height: 36px;
        margin-right: 5px;
        background-image: url("/round-play_circle_outline-24px.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #player__play-pause.play {
        background-image: url("/round-pause_circle_outline-24px.svg");
    }
    #player__timeline {
        cursor: ;
        width: 100%;
        height: 10px;
        background-color: lightgray;
    }
    #player__progress {
        height: 10px;
        background-color: gray;
    }
    #player__time {
        width: 40px;
        margin-left: 5px;
        text-align: right;
    }
    #player__context-menu {
        position: absolute;
        background-color: lightgray;
        border: 1px solid #c1c1c1;
    }
    #player__context-menu .context-menu__item {
        padding: 4px;
        cursor: pointer;
    }
    #player__context-menu .context-menu__item:hover {
        background-color: #c1c1c1;
    }
    #player__markers {
        position: relative;
    }
    .player__marker {
        position: absolute;
        width: 3px;
        height: 16px;
        background-color: black;
        cursor: pointer;
    }
    .player__marker::after {
        content: '';
        position: absolute;
        top: 100%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 3px 3px 0 0;
        border-color: black transparent transparent transparent;

    }
    .marker__label {
        border-bottom: 1px solid black;
        max-width: 100px;
        width: fit-content;
        text-align: right;
        font-size: 12px;
        padding-right: 10px;
        white-space: nowrap;
        transform-origin: top right;
        transform: translate(calc(-100% - 9px), 6.5px) rotate(-45deg);
    }
</style>