<template>
    <div id="app">
        <div class="app__title">
            <input id="song-title" v-model="title" placeholder="Title" />
        </div>
        <Player />
    </div>
</template>

<script>
    import Player from './components/Player';

    export default {
        name: 'app',
        components: {
            Player
        },
        data: function () {
            return {
                title: ''
            };
        }
    }
</script>

<style>
    #app {

    }
</style>
